body{
    background-color: white;
    font-family: 'Bad Script';
    font-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../Images/maintenance.jpg);
 }
/* navigation bar*/ 
.nav-bar {
    top: 10%;
    width: 99%;
    background-color: rgba(44, 14, 14, 0.74);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    
      
}
.nav-bar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    
}
.nav-bar>ul>li {
    float: left;
    border-right: 1px solid #bbb;
}

.nav-bar>ul>li>a {
    display: block;
    color: rgb(247, 243, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar-right{
   float: right;
}
.nav-bar-right>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-bar-right>ul>li{
    display: inline;
    text-align: center;
    border-right: 1px solid rgba(252, 249, 249, 0.952);

}
.nav-bar-right>ul>li>a{
    display: inline-flex;
    color: rgb(247, 243, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(24, 202, 233);
}
li a:hover {
    background-color: #111;
}
/* navigation bar*/
/*flex-box*/
.flex-container{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 50%;
    align-items: baseline;
    align-content: center; 
     
}
.flex-container>div{
    background-color: darkgray;
    width:70%;
    margin: 10px;
    text-align: center;
    color:rgb(12, 12, 12);
    background-image: url(../Images/maintenance2.jpg);
    opacity: 0.8;
}
.flex-container>div>p{
    background-color: rgba(169, 169, 169, 0.76);
    
}
.flex-container>div>h4{
    background-color: rgba(169, 169, 169, 0.445);
    
}
.flex-container.footer{
    height: 7px;
    align-content: flex-end;
    justify-content: center;
    background-color:rgb(243, 202, 21);
    opacity: 0.5;
}
.flex-container>form{
    background-color: rgba(192, 183, 183, 0.562);
    display: table;
    width: 30%;
    align-items: center;
    margin-top: 10px;
    
}
.flex-container>form :hover{
    background-color: rgba(0, 0, 0, 0.267);
}
.newreq {
    display: flex;
    width: 100%;
    margin-left: 40px;
    left: 40px;
    height: 90%;
    
}
.newreq>form{
    background-color: rgba(80, 94, 94, 0.863);
    width: 90%;
    margin-left: 40px;
    display: table;
    overflow-y: scroll;
}
.form-input>select{
    height: 40px;
}
#category, #title, #freq, #new, #description {
    width: 90%;
    margin: 10px 10px 10px 10px;
}
#Create{
        margin-right: 10%;
}
#sentitems{
    display: table;
    margin-left: 40px;
    left: 40px;
    height: 90%;

}
.flex-container>form{
    background-color: rgba(192, 183, 183, 0.562);
    display: table;
    width: 90%;
    align-items: center;
    margin-top: 10px;
 }
table{
    border-collapse: collapse;
    background-color: white;
    width: 90%;
    margin-left: 40px;
    display: table;
    overflow-y: scroll;
    
}
table, th, td {
    border-bottom: 1px solid #ddd;
}
th, td{
    padding: 15px;
    text-align: left;
}
tr:hover {
    background-color: #f5f5f5;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
th{
    background-color: rgba(22, 223, 223, 0.849)
}

th{
    height: 50px;
}
/* #freq {
    width: 100%;
}
#new {
    width: 100%;
} */
/*flex-box*/
.banner{
    max-height: 7%;
    text-align: center;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*form Input methods */
input[type=text]{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=email]{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=password]{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit]{
    width: 50%;
    background-color: rgb(21, 180, 243);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}/*Input methods */
/*The sidebar*/
.sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 15;
    left: 0;
    background-color: rgba(17, 17, 17, 0.671);
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: rgba(252, 249, 249, 0.952);
    display: block;
}
.sidenav a:hover {
    color: rgb(9, 245, 245);
    background-color: white;
}
.sidenav a:active {
    color: rgb(9, 245, 245);
    background-color: white;
}
.main {
    margin-left: 12%;
    padding: 0px 10px;
    overflow-x: auto;
    overflow-y: auto;
}
#h4{
    text-align: center;
}

/*The sidebar*/
/* media queries*/ 

@media screen and (max-width:1000px){
    div.flex-container>form{
        width:40%;
    }
    input[type=text]{
        width: 40%;
    }    
}

@media screen and (max-width:600px){
    div.nav-bar-right,
    div.nav-bar-right>ul>li,
    div.nav-bar-right>ul>li>a
    {    
        display:block;
        float: left;
    }
    nav.nav-bar{
        width:auto;
        min-height:auto; 
    }
    nav.nav-bar>ul>li,
    div.nav-bar-right>ul>li
    {
        border-right: 0px;
        /* border-bottom: 1px solid #bbb; */
    }
    div.flex-container>div{
        width:400px;
        height:40%;
        
    }
    div.flex-container>form{
        width:60%;
    }
    input[type=text]{
        width: 60%;
    }   

}
@media screen and (max-width:500px){
    div.flex-container>form{
        width:50%;
    }
    input[type=text]{
        width: 50%;
    }
    div.sidenav{
        padding-top: 15%;
        width: 30%;
    }
    div.sidenav a{
        font-size: 18px;
    }    
    
}
@media screen and (max-width:450px){
    div.flex-container>div{
        width:80%;
        height:40%;
    }
    div.flex-container>form{
        width:100%;
    }
    div>input[type=text]{
        width: 80%;
    }
    div>input[type=email]{
        width: 80%;
    }    
    div>input[type=password]{
        width: 80%;
    }  
    div.sidenav{
        padding-top: 15%;
        width: 30%;
    }
    div.sidenav a{
        font-size: 18px;
    }   
}
@media screen and (max-width:380px){
    div.flex-container>div{
        width:80%;
        height:30%;
    }
    div.sidenav{
        padding-top: 15%;
        width: 30%;
    }
    div.sidenav a{
        font-size: 18px;
    }   
     
}
/* media queries*/ 
